{{page-title 'View book details'}}

<div class='container'>
  <div class='container m-0 p-0'>
    <h3 class='mb-3'>Book Details</h3>
  </div>

  {{#if @model.data}}
    <div class='container mb-3 p-0'>
      <p>
        <h4>{{@model.data.title}}</h4>
      </p>
      <p>By {{@model.data.author.name}}</p>
      <p><span class='fw-bold'>Year: </span>{{@model.data.year}}</p>
      <p>
        <span class='fw-bold'>
          Publisher:
        </span>
        {{@model.data.publisher}}</p>
      <p class='fw-bold'>Author's Biography</p>
      {{#if @model.data.author.biography}}
        {{@model.data.author.biography}}
      {{else}}
        <span class='text-muted'>Biography not available.</span>
      {{/if}}
    </div>

    <div class='container m-0 p-0'>
      <button
        class='btn btn-warning me-1'
        type='button'
        {{on 'click' this.editBook}}
      >Edit</button>
      <button
        class='btn btn-danger'
        type='button'
        {{on 'click' this.deleteBook}}
      >Delete</button>
    </div>
  {{else}}
    <ErrorMessage @msg='Unable to load book.' />
    {{@this.id}}
  {{/if}}
</div>